{% load wagtailimages_tags %}


{% if thumbs %}
    <div class="gallery-holder fold">
        <div class="gallery-image" id="{{ id }}">
            {% for image in images %}
                {{ image }}
            {% endfor %}
        </div>
    </div>
    <div class="holder">
      <div class="row gut-vertical-30">
        <div class="col-md-12">
          <div class="gallery-thumbs">
            {% for thumb in thumbs %}
                <div>{{ thumb }}</div>
            {% endfor %}
        </div>
      </div>
    </div>
{% else %}
    <div class="gallery-holder fold">
        <div class="gallery" id="{{ id }}">
            {% for image in images %}
                {{ image }}
            {% endfor %}
        </div>
    </div>
{% endif %}