.sequence-type-row .field-content {
  width: 100%; }

.sequence-type-row > .sequence-container-inner > .sequence {
  display: flex;
  flex-wrap: wrap;
  margin-left: 0;
  margin-right: 0; }
  .sequence-type-row > .sequence-container-inner > .sequence .sequence-member {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    position: relative; }
    .sequence-type-row > .sequence-container-inner > .sequence .sequence-member .row {
      height: 100%;
      display: flex;
      flex-wrap: wrap; }
    .sequence-type-row > .sequence-container-inner > .sequence .sequence-member .sequence-member-inner {
      flex-basis: 0;
      flex-grow: 1;
      max-width: 100%;
      position: relative;
      padding: 1rem; }
    .sequence-type-row > .sequence-container-inner > .sequence .sequence-member .sequence-controls .icon-order-up:before {
      transform: rotate(-90deg); }
    .sequence-type-row > .sequence-container-inner > .sequence .sequence-member .sequence-controls .icon-order-down:before {
      transform: rotate(-90deg); }
  .sequence-type-row > .sequence-container-inner > .sequence > .stream-menu {
    order: -1; }
  .sequence-type-row > .sequence-container-inner > .sequence .stream-menu {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    margin: 0; }
    .sequence-type-row > .sequence-container-inner > .sequence .stream-menu.stream-menu-closed {
      max-width: 30px;
      background: transparent; }
      .sequence-type-row > .sequence-container-inner > .sequence .stream-menu.stream-menu-closed .toggle {
        top: 50%;
        margin-top: -15px; }
