//// Core variables and mixins
//@import "_bootstrap/variables";
//@import "_bootstrap/mixins";
//@import "_bootstrap/custom";

// Reset and dependencies
//@import "_bootstrap/normalize";
//@import "_bootstrap/print";

// Core CSS
//@import "_bootstrap/reboot";
//@import "_bootstrap/type";
//@import "_bootstrap/images";
//@import "_bootstrap/code";
//@import "_bootstrap/grid";
//@import "_bootstrap/tables";
//@import "_bootstrap/forms";
//@import "_bootstrap/buttons";

// Components
//@import "_bootstrap/transitions";
//@import "_bootstrap/dropdown";
//@import "_bootstrap/button-group";
//@import "_bootstrap/input-group";
//@import "_bootstrap/custom-forms";
//@import "_bootstrap/nav";
//@import "_bootstrap/navbar";
//@import "_bootstrap/card";
//@import "_bootstrap/breadcrumb";
//@import "_bootstrap/pagination";
//@import "_bootstrap/badge";
//@import "_bootstrap/jumbotron";
//@import "_bootstrap/alert";
//@import "_bootstrap/progress";
//@import "_bootstrap/media";
//@import "_bootstrap/list-group";
//@import "_bootstrap/responsive-embed";
//@import "_bootstrap/close";

// Components w/ JavaScript
//@import "_bootstrap/modal";
//@import "_bootstrap/tooltip";
//@import "_bootstrap/popover";
//@import "_bootstrap/carousel";

// Utility classes
//@import "_bootstrap/utilities";


.sequence-type-row {
  .field-content {
    width: 100%;
  }
  > .sequence-container-inner > .sequence {
    display: flex;
    flex-wrap: wrap;
    margin-left: 0;
    margin-right: 0;
    .sequence-member {
      .row {
        height: 100%;
        display: flex;
        flex-wrap: wrap;
      }
      flex-basis: 0;
      flex-grow: 1;
      max-width: 100%;
      position: relative;
      .sequence-member-inner {
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%;
        position: relative;
        padding: 1rem;
      }
      .sequence-controls {
        .icon-order-up:before {
          transform: rotate(-90deg);
        }
        .icon-order-down:before {
          transform: rotate(-90deg);
        }
      }
    }
    > .stream-menu {
      // always first
      order: -1;
    }
    .stream-menu {
      flex-basis: 0;
      flex-grow: 1;
      max-width: 100%;
      margin: 0;
      &.stream-menu-closed {
        max-width: 30px;
        background: transparent;
        .toggle {
          top: 50%;
          margin-top: -15px;
        }
      }
    }
  }


}

