<ul{% if menu.menu_id %} id="{{ menu.menu_id }}"{% endif %} class="{{ menu.menu_class }}">
    {% block before %}{% endblock %}
    {% for node in menu %}
        <li class="nav-item{% if node.active %} active{% endif %}">
            <a class="nav-link{% if node.active %} active{% endif %}" href="{{ node.url }}">{{ node.label }}</a>
        </li>
    {% endfor %}
    {% block after %}{% endblock %}
</ul>
