{% comment %}
<div class="sequence-container sequence-type-row">
    <input type="hidden" name="{{ prefix }}-count" id="{{ prefix }}-count" value="{{ list_members_html|length }}">

    {% if list_members_html %}
        {% include "wagtailadmin/block_forms/stream_menu.html" with menu_id=prefix|add:"-prependmenu" state="closed" %}
    {% else %}
        {% include "wagtailadmin/block_forms/stream_menu.html" with menu_id=prefix|add:"-prependmenu" state="open" %}
    {% endif %}

    {% if block_errors %}
        {% for error in block_errors %}
            <div class="help-block help-critical">{{ error }}</div>
        {% endfor %}
    {% endif %}

    <div class="sequence-container-inner">
        <ul id="{{ prefix }}-list" class="sequence">
            {% for list_member_html in list_members_html %}
                {{ list_member_html }}
            {% endfor %}
        </ul>
        {% block footer %}{% endblock %}
    </div>
</div>

{% endcomment %}
<div class="sequence-container sequence-type-row">
    <input type="hidden" name="{{ prefix }}-count" id="{{ prefix }}-count" value="{{ list_members_html|length }}">

    {% if block_errors %}
        {% for error in block_errors %}
            <div class="help-block help-critical">{{ error }}</div>
        {% endfor %}
    {% endif %}

    <div class="sequence-container-inner">
        <div id="{{ prefix }}-list" class="sequence">
            {% if list_members_html %}
                {% include "wagtailadmin/block_forms/stream_menu.html" with menu_id=prefix|add:"-prependmenu" state="closed" %}
            {% else %}
                {% include "wagtailadmin/block_forms/stream_menu.html" with menu_id=prefix|add:"-prependmenu" state="open" %}
            {% endif %}

            {% for list_member_html in list_members_html %}
                {{ list_member_html }}
            {% endfor %}
        </div>
        {% block footer %}{% endblock %}
    </div>
</div>

